body {
    color: #333;
    text-align: center;
}
header {
    background-image: url(img/main.jpg);
    background-size: cover;
}
.main {
    padding: 90px 80px 150px;
    color: #fff;
}
.main h2 {
    margin-top: 30px;
    font-weight: 200;
}
.main h1 {
    margin-bottom: 40px;
    font-weight: 300;
}
.main p {
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    margin: 0 40px;
}
#about h1 {
    margin: 100px auto 50px;
    font-size:20px;
    font-weight: 300;
}
#about h2 {
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 200;
}
#about p {
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
}
#services h1 {
    margin: 150px auto 50px;
    font-size:20px;
    font-weight: 300;
}
.service {
    border: 1px solid #ccc;
    margin: 0 30px 30px;
}
.service i {
    font-size: 50px;
    margin: 30px auto 20px;
    color: #666;
}
.service h2 {
    font-weight: 200;
    margin: 0 auto 50px;
    font-size:20px;
}
.service p {
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
    margin: -30px 30px 30px;
}
#works h1 {
    margin: 150px auto 50px;
    font-size:20px;
    font-weight: 300;
}
.work {
    /* border: 1px solid #ccc; */
    margin: 0 30px 30px;
}
.work img {
    width: 300px;
    height: 200px;
    margin: 30px auto 20px;
}
.work h2 {
    font-weight: 200;
    margin: 0 auto 50px;
    font-size: 20px;
}
.work p {
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
    margin: -30px 30px 30px;
}
#contact h1 {
    margin: 150px auto 50px;
    font-size:20px;
    font-weight: 300;
}
.contact-box i {
    font-size: 50px;
    margin: 10px auto 10px;
    color: #666;
}
.contact-box h2{
    font-weight: 100;
}
.contact-box p {
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
    margin: 10px 30px 30px;
}
form {
    width: 70%;
    margin: 100px auto 100px;
}
.form {
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: 100%;
}
::placeholder {
    color: #ccc;
}
.submit {
    float: right;
    border-radius: 3px;
    padding: 10px 25px;
}
footer {
    background-color: #333;
    padding: 50px 30px;
}
.footer-inner i {
    color: #aaa;
    font-size: 25px;
    margin: 0 20px 30px;
    background-color: #666;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 10px;
}
footer small{
    color: #aaa;
    font-size: 20px;
    font-weight: 200;
}


@media screen and (min-width: 320px) {
    .service {
        width: 60%;
        margin: 0 auto 30px;
    }
    .contact-inner {
        display: flex;
        justify-content: center;
    }
    .contact-box {
        width: 25%;
    }
}
@media screen and (min-width: 1100px) {
    .service {
        width: 50%;
    }
    .works-inner {
        display: flex;
        justify-content: center;
    }
    .work {
        width: 30%;
    }
    .contact-box {
        width: 20%;
    }
}
